# =======================================
# macOS 시스템 파일
# =======================================
.DS_Store

# =======================================
# Python
# =======================================
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/

# 가상환경 설정 파일
*.env
.envrc

# =======================================
# Node.js
# =======================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =======================================
# Logs & Coverage
# =======================================
*.log
coverage/
*.lcov

# =======================================
# IDE / Editor
# =======================================
.idea/
.vscode/
*.swp

# =======================================
# OS / 기타
# =======================================
Thumbs.db
package-lock.json

# Config 파일 무시
config.json

# 인증서 키 파일 무시
*.pem